<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Hanuman UI</string>
    <key>styleName</key>
    <string>Bold</string>
    <key>styleMapFamilyName</key>
    <string>Hanuman UI Bold</string>
    <key>styleMapStyleName</key>
    <string>bold</string>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>copyright</key>
    <string>Copyright 2013 Danh Hong. All Rights Reserved.</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>ascender</key>
    <integer>1638</integer>
    <key>descender</key>
    <integer>-410</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string></string>
    <key>openTypeHeadCreated</key>
    <string>2006/12/04 20:18:08</string>
    <key>openTypeHheaAscender</key>
    <integer>2050</integer>
    <key>openTypeHheaDescender</key>
    <integer>-550</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Danh Hong</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.khmertype.org/</string>
    <key>openTypeNameManufacturer</key>
    <string>Danh Hong</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.khmertype.org/</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.00 October 6, 2016, initial release</string>
    <key>openTypeNameUniqueID</key>
    <string>Hanuman UI Bold:Version 1.00</string>
    <key>openTypeNameSampleText</key>
    <string>ភាសាខ្មែរ</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>6</integer>
      <integer>6</integer>
      <integer>3</integer>
      <integer>8</integer>
      <integer>4</integer>
      <integer>2</integer>
      <integer>2</integer>
      <integer>4</integer>
    </array>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>700</integer>
    <key>openTypeOS2VendorID</key>
    <string>HL  </string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>2163</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-555</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>132</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2050</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>550</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>1434</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>1331</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>286</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>1434</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>1331</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>976</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>102</integer>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>498</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>5</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>9</integer>
      <integer>29</integer>
      <integer>30</integer>
      <integer>31</integer>
      <integer>32</integer>
      <integer>33</integer>
      <integer>35</integer>
      <integer>36</integer>
      <integer>38</integer>
      <integer>45</integer>
      <integer>62</integer>
      <integer>67</integer>
      <integer>69</integer>
      <integer>80</integer>
    </array>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>4</integer>
      <integer>8</integer>
      <integer>29</integer>
      <integer>56</integer>
      <integer>62</integer>
    </array>
    <key>postscriptFontName</key>
    <string>HanumanUI-Bold</string>
    <key>postscriptFullName</key>
    <string>Hanuman UI Bold</string>
    <key>postscriptWeightName</key>
    <string>Bold</string>
    <key>postscriptUnderlineThickness</key>
    <integer>102</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-205</integer>
  </dict>
</plist>
